.about-me-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.about-me-section__text {
  margin-top: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.about-me-section__header {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}
.about-me-section__details {
  color: white;
  font-size: 14px;
  line-height: 26px;
}
.about-me-section__img {
  margin: 100px 0;
}