.about-me-section {
  padding: 100px 0;
  width: 100%;
  background-color: black;
  font-family: "Inder", sans-serif;
}
.about-me-section__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-me-section__text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}
.about-me-section__header {
  margin-bottom: 50px;
  font-size: 30px;
  letter-spacing: 4px;
  color: white;
}
.about-me-section__details {
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.about-me-section__btn {
  position: relative;
  margin-top: 50px;
  padding: 20px 5px 25px 20px;
  width: 200px;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.about-me-section__btn .arrow {
  position: relative;
  top: 6px;
  color: white;
}
.about-me-section__btn::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transition: 0.3s ease-in-out;
}
.about-me-section__btn::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transition: 0.3s ease-in-out;
}
.about-me-section__btn:hover::before {
  width: 20%;
  height: 60%;
}
.about-me-section__btn:hover::after {
  width: 20%;
  height: 60%;
}