.music-section {
  background-color: black;
  height: 1400px;
}
.music-section .music-boxes-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.music-section .music-boxes-container__music-box {
  width: 700px;
  height: 620px;
  background-size: cover;
}
.music-section .music-boxes-container .box-1 {
  background-image: url(../../img/music-box-1.png);
}
.music-section .music-boxes-container .box-2 {
  background-image: url(../../img/music-box-2.png);
}
.music-section .music-boxes-container .box-3 {
  background-image: url(../../img/music-box-3.png);
}
.music-section .music-boxes-container .box-4 {
  background-image: url(../../img/music-box-4.png);
}
.music-section .music-boxes-container .box-5 {
  background-image: url(../../img/music-box-5.png);
}
.music-section .music-boxes-container .box-6 {
  background-image: url(../../img/music-box-6.png);
}
.music-section .music-boxes-container .box-7 {
  background-image: url(../../img/music-box-7.png);
}
.music-section .music-boxes-container .box-8 {
  background-image: url(../../img/music-box-8.png);
}