.music-section {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgb(68, 68, 68) 0%, rgb(0, 0, 0) 100%);
  padding: 150px 0;
}
.music-section .music-boxes-container {
  display: grid;
  grid-auto-flow: column;
  position: relative !important;
  top: 0 !important;
  padding: 70px 0;
}
.music-section .music-boxes-container__music-box {
  position: relative;
  margin: 0px 30px;
  display: flex;
  width: 460px;
  height: 400px;
  background-size: 100%;
  background-position: 50%;
  transition: 0.2s;
}
.music-section .music-boxes-container__music-box .box-header {
  color: white;
  position: absolute;
  bottom: -80px;
  text-transform: uppercase;
}
.music-section .music-boxes-container__music-box:hover {
  background-size: 105%;
  box-shadow: 0px 0px 20px 0px rgb(128, 128, 128);
}
.music-section .music-boxes-container:first-child {
  padding-top: 0;
}
.music-section .music-boxes-container:last-child {
  padding-bottom: 0;
}
.music-section .music-boxes-container1 {
  position: relative;
  left: 840px;
}
.music-section .music-boxes-container2 {
  position: relative;
  right: 770px;
}
.music-section .music-boxes-container3 {
  position: relative;
  left: 840px;
}
.music-section .box-1 {
  background-image: url(../../img/music-box-1.png);
}
.music-section .box-2 {
  background-image: url(../../img/music-box-2.png);
}
.music-section .box-3 {
  background-image: url(../../img/music-box-3.png);
}
.music-section .box-4 {
  background-image: url(../../img/music-box-4.png);
}
.music-section .box-5 {
  background-image: url(../../img/music-box-5.png);
}
.music-section .box-6 {
  background-image: url(../../img/music-box-6.png);
}
.music-section .box-7 {
  background-image: url(../../img/music-box-7.png);
}
.music-section .box-8 {
  background-image: url(../../img/music-box-8.png);
}