.about-me-section {
	padding: 150px 0;
	width: 100%;
	background-color: black;
	font-family: "Montserrat", sans-serif;
	&__container {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__text {
		width: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 80px;
	}
	&__header {
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 4px;
		color: white;
	}
	&__spacer {
		margin-bottom: 20px;
		width: 120px;
		height: 4px;
		background-color: #fff;
	}
	&__details {
		color: white;
		font-size: 16px;
		font-weight: 200;
		line-height: 26px;
	}

	&__btn {
		position: relative;
		padding: 20px 5px 25px 20px;
		width: 200px;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		font-weight: 400;
		background: none;
		border: none;
		color: white;
		cursor: pointer;

		.arrow {
			position: relative;
			top: 6px;
			color: white;
		}
	}
	a {
		display: block;
		margin-top: 50px;
		width: 200px;
		text-decoration: none;
		color: white;
	}
	&__btn::before {
		content: "";
		position: absolute;
		width: 40%;
		height: 40%;
		top: 0;
		left: 0;
		border-top: 1px solid white;
		border-left: 1px solid white;
		transition: 0.3s ease-in-out;
	}
	&__btn::after {
		content: "";
		position: absolute;
		width: 40%;
		height: 40%;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid white;
		border-right: 1px solid white;
		transition: 0.3s ease-in-out;
	}
	&__btn:hover::before {
		width: 30%;
		height: 50%;
	}
	&__btn:hover::after {
		width: 30%;
		height: 50%;
	}
}
