.music-section {
	height: 1400px;
	background-color: black;
	padding-top: 100px;

	.music-boxes-container {
		// display: flex;
		display: grid;
		grid-auto-flow: column;
		// width: 5600px;
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		// scroll-snap-type: x mandatory;
		&__music-box {
			display: flex;
			width: 700px;
			height: 620px;
			background-size: cover;
		}
		.box-1 {
			background-image: url(../../img/music-box-1.png);
		}
		.box-2 {
			background-image: url(../../img/music-box-2.png);
		}
		.box-3 {
			background-image: url(../../img/music-box-3.png);
		}
		.box-4 {
			background-image: url(../../img/music-box-4.png);
		}
		.box-5 {
			background-image: url(../../img/music-box-5.png);
		}
		.box-6 {
			background-image: url(../../img/music-box-6.png);
		}
		.box-7 {
			background-image: url(../../img/music-box-7.png);
		}
		.box-8 {
			background-image: url(../../img/music-box-8.png);
		}
	}
	::-webkit-scrollbar {
		width: 0.5em;
		background-color: #ffffff; /* Kolor tła strony */
	}

	/* Kolor samego paska przewijania */
	::-webkit-scrollbar-thumb {
		background-color: #383838;
	}

	/* Pasek przewijania po najechaniu myszką */
	::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}
}
